$button-color: #00b447;
$button-hover: #135e30;
$title-color: #0a1b01;
$href-color: #408d03;
$href-hover: #0f3a02;
$call-bg: #e8ffe8;
$about-bg: #f7f7f7;
$special-bg: #ceeece;
$special-title: #072009;
$special-button: white;
$special-button-hover: #006f22;
$footer-bg: #010300;
$footer-desc: #bcc1ba;
$social-color: #18620c;
$finance-bg: #ffffff;
