.call{
    position: relative;
    width: 100%;
    height: 100px;
    background-color: $call-bg;
}

.phone_text{
    padding-top: 20px;
    text-align: center;
}

.phone_digets{
    text-align: center;
}
