.footer{
    background-color: $footer-bg;

    .footer_description{
        margin-top: 20px;
        text-align: center;
    }

    .join{
        margin-top: 20px;
        text-align: center;
    }
}
