.main-header{
    padding: 5px 0;
}

.offer{
    display: block;
    background: url("../img/header.jpg") no-repeat 22% center;
    position: relative;
	width: 100%;
	height: 800px;
}

.title{
    padding: 220px 0;
}

.title_heading{
    font-size: 58px;
    color: $title-color;
    font-weight: 800;
    opacity: 0.8;
}

.title_intro{
    font-size: 24px;
    font-weight: 700;
    color: black;
}

.intro-tag{
    background-color: black;
    color: white;
    padding-left: 8px;
    padding-right: 8px;
}
