.special{
    background-color: $special-bg;
}

.special-title{
    margin-top: 30px;
    text-align: center;
}

.special-intro{
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}
